* {
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    max-width: 250px;
    flex: 1;
}

.screen {
    height: 4vh;
    border: 1px solid red;
}

.buttons {
    display: flex;
    gap: 0.5em;
    margin: 0.2em 0 0.2em 0;
}

.button {
    flex: 1;
    height: 3.5em;
}


